In [1]:
import serial
import MySQLdb
import time
import matplotlib.pyplot as plt
import matplotlib.animation as animation
from matplotlib import style

style.use('fivethirtyeight')

fig=plt.figure()



#returns ms since the epoch
def millis():
        return time.time() * 1000


ser = serial.Serial('/dev/ttyACM0', 115200)

actual=millis()
ser.write("a");
ser.write("a");
ser.write("a");
ser.write("a");
ser.write("a");
j=0
time.sleep(4)
    
    
print str(j)
db = MySQLdb.connect("localhost", "root", "root", "experimientos")
curs=db.cursor()
actual=millis()
global a
a=input("Ingrese el numero del experimento")
ser.flushInput()
ser.write("b");
ser.write("b");
ser.write("b");
j=1


time.sleep(1)


# while actual+5000>millis():
#24000 muestras para 4 min de experimento
while j<4800:
	x=ser.readline()
# 	print x
	s=x.split(",")
	if len(s)==4:
		curs.execute("INSERT INTO ejemplo values("+str(a)+','+str(j)+","+s[0]+","+s[1]+","+s[2]+","+s[3]+")")
		db.commit()
		j=j+1        
print str(j)
print "Experimiento concluido"
xs=[]
ys=[]
db1 = MySQLdb.connect("localhost", "root", "root", "experimientos")
curs1=db1.cursor()
sql = "SELECT * FROM ejemplo where experimento="+str(a)+" order by num asc "
 
#try:
    # Execute the SQL command
 #   curs1.execute(sql)
    # Fetch all the rows in a list of lists.
  #  results = curs1.fetchall()
   # for row in results:
    #    num = row[1]
     #   xs.append(num)
      #  s1 = row[3]
       # ys.append(s1)
            
#except:
#    print "Error: unable to fecth data"
#plt.plot(ys)
#plt.ylabel('some numbers')
#plt.show()

0
Ingrese el numero del experimento70
4800
Experimiento concluido